body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Avoid scrollbars */
}

.carousel {
    position: relative;
    overflow: hidden;
    perspective: 1000px; /* Adds depth perspective when scaling */
}

.carousel.horizontal {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: scroll; 
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch;
    justify-content: start;
}

.carousel.vertical {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    display: block;
}

.slide {
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s; /* Smooth scaling transition */
    flex-shrink: 0; /* This ensures that the flex items don't shrink */
}

img {
    max-height: 70vh; 
    max-width: 70vw;
}


.arrow {
    position: absolute;
    width: 250px; /* Change as per your preference */
    height: 250px;
    background-size: cover;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    right: 250px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('left-arrow-icon.png');
}

.arrow.right {
    left: 250px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('right-arrow-icon.png');
}

.arrow.top {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('top-arrow-icon.png');
}

.arrow.bottom {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('bottom-arrow-icon.png');
}
