body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Avoid scrollbars */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.caption {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    animation: fadeInOut 3s infinite; /* Apply the fadeInOut animation */
    font-style: italic;
    display: flex;
    align-items: center;
}

.caption i {
    font-size: 1.5em;
}

.carousel {
    position: relative;
    overflow: hidden;
    perspective: 1000px;
}

.carousel.horizontal {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    justify-content: start;
}

.carousel.vertical {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    display: block;
}

.caption.left {
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.caption.right {
    top: 50%;
    right: 3%;
    left: auto;
    transform: translateY(-50%);
}

.slide {
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    flex-shrink: 0;
}

img {
    max-height: 70vh;
    max-width: 70vw;
}

.caption.bottom {
    top: 73%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: #f4f4f4;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(109.6deg, rgb(55, 117, 106) 11.2%, rgb(16, 60, 50) 51.2%, rgb(0, 0, 0) 100%);
}

.carousel.vertical .slide {
    position: relative;
}

.carousel .slide img {
    display: block;
    width: 100%;
}

.slide-heading {
    position: absolute;
    top: 40px;
    left: 195px;
    width: 90%;
    text-align: center;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 10;
}

.v-caption {
    position: absolute;
    top: 18%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    width: 57%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
}

.v-caption {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}
